<!DOCTYPE html>
<html lang="en">

<head>
    <title>Original Netflix</title>
    <link rel="stylesheet" href="../static/css/Style.css" />

</head>

<body>
    <h1 align="center">Netflix Best Of</h1>
    <div class="container">

        {% for item in units%}

        <div class="movie">
            <p>{{item[1]}}</p>
            <a href="/details/{{item[0]}}">
                <img src="../static/img/{{item[6]}}" alt="{{item[1]}}" width="200">
            </a>


        </div>



        <!--
    <p>{{item[2]}}</p>
    <p>{{item[3]}}</p>
    <p>{{item[4]}}</p>
    <p>{{item[5]}}</p>
    -->

        {% endfor %}
    </div>







</body>

</html>