h1 {
    color: rgb(255, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 46pt;
}

body {

    background-color: rgb(27, 27, 27);

}

p {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.movie
{
    margin: 2px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    width: 200px;
}